# FOR LOOP

**  A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [4]:
mcity = ['nagpur','sambhajinagar','amravti','pune','mumbai',
          'thane','satara','sangli','wardha']

In [5]:
mcity

['nagpur',
 'sambhajinagar',
 'amravti',
 'pune',
 'mumbai',
 'thane',
 'satara',
 'sangli',
 'wardha']

In [6]:
print(mcity)

['nagpur', 'sambhajinagar', 'amravti', 'pune', 'mumbai', 'thane', 'satara', 'sangli', 'wardha']

In [7]:
print(mcity)
for x in mcity:
    print(x)

['nagpur', 'sambhajinagar', 'amravti', 'pune', 'mumbai', 'thane', 'satara', 'sangli', 'wardha']
nagpur
sambhajinagar
amravti
pune
mumbai
thane
satara
sangli
wardha

In [9]:
city = ['nagpur','pune','mumbai']

In [10]:
for x in city:
  print(x)
  if x == "pune":
    break

nagpur
pune

In [13]:
print(mcity)
for x in mcity:
    print(x)
    if x =='thane':
      break

['nagpur', 'sambhajinagar', 'amravti', 'pune', 'mumbai', 'thane', 'satara', 'sangli', 'wardha']
nagpur
sambhajinagar
amravti
pune
mumbai
thane

# continue statement

** With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [15]:
for x in mcity :
  if x == "mumbai":
    continue
  print(x)

nagpur
sambhajinagar
amravti
pune
thane
satara
sangli
wardha

# Range


 ** The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [16]:
for x in range(3,30,2):
  print(x)

3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [17]:
for x in range(9):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
Finally finished!

# Nested Loop

In [18]:

for x in mcity:
  for y in city:
    print(x, y)

nagpur nagpur
nagpur pune
nagpur mumbai
sambhajinagar nagpur
sambhajinagar pune
sambhajinagar mumbai
amravti nagpur
amravti pune
amravti mumbai
pune nagpur
pune pune
pune mumbai
mumbai nagpur
mumbai pune
mumbai mumbai
thane nagpur
thane pune
thane mumbai
satara nagpur
satara pune
satara mumbai
sangli nagpur
sangli pune
sangli mumbai
wardha nagpur
wardha pune
wardha mumbai

# while loop

 ** With the while loop we can execute a set of statements as long as a condition is true.

In [19]:
i = 1
while i < 8:
  print(i)
  i += 1

1
2
3
4
5
6
7

In [20]:
i = 1
while i < 8:
  print(i)
  i += 3

1
4
7

In [21]:
i = 2
while i < 9:
  print(i)
  if i == 6:
    break
  i += 1

2
3
4
5
6

In [22]:
i = 3
while i < 9:
  i += 1
  if i == 6:
    continue
  print(i)

4
5
7
8
9

In [24]:
i = 0
while i < 6:
  if i == 3:
    continue
  print(i)
  i += 1

0
1
2

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
#
Lambda

#lambda

In [ ]:
print("hello world")